{import 'blocks.latte'}

<!DOCTYPE html>
<html lang="{$lang}">
    <head>
        <meta charset="utf-8">
        <title>{$content->title}{ifset $title}| {$title}{/ifset}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta n:ifset="$content->keywords" name="keywords" content="">
        <meta n:ifset="$content->description" name="description" content="">

        <script n:asset="node_modules/jquery/dist/jquery.js"></script>
        <script n:asset="node_modules/jquery-migrate/dist/jquery-migrate.js"></script>
        <link n:asset="node_modules/bootstrap/dist/css/bootstrap.css">
        <link n:asset="node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css">
        <link n:asset="node_modules/flexslider/flexslider.css">
        <link n:asset="node_modules/slick-carousel/slick/slick.css"/>
        <link n:asset="node_modules/slick-carousel/slick/slick-theme.css"/>
        <link n:asset="node_modules/@fortawesome/fontawesome-free/css/all.css">
        <link n:asset="node_modules/flashjs/dist/flash.css">
        <link n:asset="css/main.css">
        <link n:asset="css/style.css">

        <link n:asset="favicon.ico">

        {block head}{/block}
    </head>
    <body class="one-page">
        <div class="wrapper">
            <script n:if="$flashes">
                $(function () {
                    {foreach $flashes as $flash}
                        window.FlashMessage.info({$flash->message});
                    {/foreach}
                });
            </script>
            <header id="master-header" class="full-screen overlayed">
                <div class="top-header">
                    <div class="container">
                        {include #navMenu, items => $categorySlides}
                    </div>
                </div>

                <div id="brand">
                    {var $titleHeaderExploded = explode(' ', $content->titleHeader, 2)}
                    <h1 class="logo">
                        {include #logo}
                    </h1>
                    {include #promoSlider, items => $categorySlides}
                </div>
            </header>

            <!-- ============ Main Header - END ============ -->

            <div id="main">
                <div id="contacts-bar" class="row">
                    <div class="address col-md-6"><strong>{$content->title}</strong>, {_'obrazy & sochy & umění'}</div>
                    <div class="other col-md-6">
                        <span n:ifset="$content->phone" class="contact"><i class="fa fa-phone"></i>{_'Telefon'}: <strong><a href="tel:{$content->phone}">{$content->phone}</a></strong></span>
                        <span n:ifset="$content->email" class="contact"><i class="fa fa-envelope"></i>{_'Email'}: <strong><a href="mailto:{$content->email}">{$content->email}</a></strong></span>
                    </div>
                </div>

                <div class="container" n:snippet="content">
                    {include #content}
                </div>

                {*<div class="section cta dark">
                    <h4>{_'V případě zájmu o některé mé dílo mne prosím kontaktujte...'}</h4>
                    <a id="contact-here" class="btn md light" href="#contact"><i class="fas fa-thumbtack"></i>{_'Kontakt ZDE'}</a>
                    <script>
                        $(function () {
                            $('#contact-here').click(function (e) {
                                $('#nav-menu ul li a[href="' + $(this).attr('href') + '"]').click();
                                e.preventDefault();
                            });
                        });
                    </script>
                </div>*}

                {include #aboutMe}

                {*include #contactForm*}
            </div>

            <!-- ============ Footer - START ============ -->

            <footer class="dark">
                <div class="container">
                    <div class="row">
                        <div class="footer-col col-md-6 col-sm-6">
                            <h3 class="focus-title"><span>{_'O mne'}</span></h3>
                            <p class="logo">{include #logo}</p>
                            {*<p>{include #profile-description}</p>*}
                        </div>
                        <div class="footer-col footer-contacts col-md-6 col-sm-12">
                            <div class="contact-item" n:ifset="$content->phone">
                                <span><i class="fa fa-phone"></i> {_'Telefon'}:</span>
                                <strong><a href="tel:{$content->phone}">{$content->phone}</a></strong>
                            </div>
                            <div class="contact-item" n:ifset="$content->email">
                                <span><i class="fa fa-envelope"></i> {_'E-mail adresa'}:</span>
                                <strong><a href="mailto:{$content->email}">{$content->email}</a></strong>
                            </div>
                            <div class="contact-item">
                                {*<span>{_'Sledujte mne na'}:</span>*}
                                {include #socialLinks}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    &copy; {=date('Y')} - <strong>{$content->title}</strong>
                </div>
            </footer>

            <!-- ============ Footer - END ============ -->

            <div class="content-loader">
                <div class="loader">
                    <div class="fa-5x">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>

        <script n:asset="node_modules/bootstrap/dist/js/bootstrap.js"></script>
        <script n:asset="node_modules/@fancyapps/fancybox/dist/jquery.fancybox.js"></script>
        <script n:asset="node_modules/flexslider/jquery.flexslider.js"></script>
        <script n:asset="node_modules/slick-carousel/slick/slick.js"></script>
        <script n:asset="node_modules/imagesloaded/imagesloaded.pkgd.js"></script>
        <script n:asset="node_modules/isotope-layout/dist/isotope.pkgd.js"></script>
        <script n:asset="node_modules/nette.ajax.js/nette.ajax.js"></script>
        <script n:asset="node_modules/live-form-validation/live-form-validation.js"></script>
        <script n:asset="node_modules/flashjs/dist/flash.min.js"></script>
        <script n:asset="js/template.js"></script>
        <script n:asset="js/app.js"></script>
    </body>
</html>