{* ========================================================================= *}
{* Main navigation menu *}

{define navMenu}
<!-- ============ Main Navigation - START ============ -->

<a id="nav-toggle" href="#"><span></span></a>
<nav id="nav-menu">
    <ul>
        <li><a title="{_'Domovská stránka'}" href="{$homeTarget}"><i class="fas fa-home"></i></a></li>
        <li>
            <a title="{_'Galerie'}" href="#gallery"><i class="fas fa-angle-double-down"></i> {_'Galerie'}</a>
            <ul class="show" n:inner-foreach="$items as $item">
                {* TODO možná ajax *}
                <li><a n:class="$item->target->isLinkCurrent() ? active" title="{$item->title}" href="{$item->target}#!gallery">{$item->title}</a></li>
            </ul>
        </li>
        {*<li n:if="!$homeTarget->isLinkCurrent()"><a title="{_'Detail'}" href="#detail"><i class="far fa-images"></i> {_'Detail'}</a></li>*}
        <li><a title="{_'O mne'}" href="#aboutme"><i class="fas fa-user"></i> {_'O mne'}</a></li>
        {*<li><a title="{_'Kontakt'}" href="#contact"><i class="fas fa-envelope-open-text"></i> {_'Kontakt'}</a></li>*}
        <li class="divider">|</li>
        {foreach $locale['langs'] as $langKey => $langTitle}
            <li>
                <a title="{$langTitle} {$locale['icons'][$langKey]}" href="{=$langKey|switchLang}">
                    {$langTitle}
                </a>
            </li>
        {/foreach}
    </ul>
</nav>
<script>
    $(function () {
        setTimeout(function () {
            const urlParts = window.location.href.split('#');
            if (urlParts.length === 2) {
                $('#nav-menu ul li a[href="' + urlParts[1].replace('!', '#') + '"]').click();
            }
        }, 100);
    });
</script>

<!-- ============ Main Navigation - END ============ -->
{/define}

{* ========================================================================= *}
{* Promo slider for categories *}

{define promoSlider}
<!-- ============ Promo slider - START ============ -->

<div id="categories" class="section">
    {*include #sectionTitle title => $title*}
    <div class="content container">
        <section class="promo-slider" n:inner-foreach="$items as $item">
            <div class="slide">
                <div class="image">
                    <a href="{$item->target}#!gallery">
                        <img src="{$item->imageSmall}" alt="{$item->title}" title="{$item->description}">
                    </a>
                </div>
                {*<div class="desc">
                    <h3><a href="{$item->target}#!gallery">{$item->title}</a></h3>
                    <p n:if="$item->description">{$item->description}</p>
                </div>*}
            </div>
        </section>
    </div>
</div>
<script>
    $(function () {
        app.initPromoSlider($('#categories .promo-slider'));
    });
</script>

<!-- ============ Promo slider - END ============ -->
{/define}

{* ========================================================================= *}
{* Grid for categories pictures *}

{define imagesGrid}
<!-- ============ Images grid - START ============ -->

<div id="gallery" class="section">
    <div class="section-title">
        <h2><span><i class="far fa-images"></i>{$title}</span></h2>
    </div>
    <div class="content container">
        <div class="works images-grid">
            <div class="work col-md-4 col-sm-6" n:foreach="$items as $item">
                <div class="work-thumb" title="{$item->title}">
                    <img src="{$item->thumb}" alt="{$item->title}" title="{$item->title}">
                    <div class="thumb-links">
                        <a title="{_'Náhled'}" class="zoom" href="{$item->link}" data-fancybox="images" data-caption="{$item->title}">
                            <img src="{$item->thumb}">
                        </a>
                        <a title="{_'Informace'}" class="info-link" href="#"></a>
                        <a title="{_'Stáhnout'}" class="download-link" href="{$item->link}" download></a>
                    </div>
                </div>
                <div class="info-work">
                    <p>{$item->title}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        app.initImagesGrid($('#gallery [data-fancybox="images"]'), {$lang});
        $('#gallery .work-thumb').click(function (e) {
            if ($(e.target).hasClass('work-thumb')) {
                $(e.target).find('.zoom').click();
            }
        });
    });
</script>

<!-- ============ Images grid - END ============ -->
{/define}

{define aboutMe}
<!-- ============ Artists - START ============ -->

<div id="aboutme">
    <div class="section-title">
        <h2><span><i class="fas fa-user"></i>{_'O mne'}</span></h2>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-3 col-lg-3"></div>
            <div class="col-md-6 col-lg-6 artist">
                <img class="profile" src="{$basePath}/img/author.png" alt="{$content->title}" title="{$content->title}">
                <div>
                    <h4><strong>{$content->titleAboutMe}</strong> ({$content->birth}, {$content->birthplace})</h4>
                    <p>{_'KEY_ABOUT_ME'|noescape}</p>
                </div>

                {include #socialLinks}
            </div>
            <div class="col-md-3 col-lg-3"></div>
        </div>
    </div>
</div>

<!-- ============ Artists - END ============ -->
{/define}

{define contactForm}
<!-- ============ Contact form - START ============ -->

<div id="contact" class="section contact-form-section">
    <div class="section-title">
        <h2><span><i class="fas fa-envelope-open-text"></i>{_'Kontakt'}</span></h2>
    </div>
    <div class="content container">
        <form n:name="contactForm" class="contact-form row">
            <div class="col-md-6" n:inner-foreach="['name', 'email', 'phone'] as $inputName">
                <label n:name="$inputName"><strong>{$form[$inputName]->getCaption()|translate}</strong>
                    <input n:name="$inputName">
                </label>
            </div>
            <div class="col-md-6">
                <label n:name="message"><strong>{$form['message']->getCaption()|translate}</strong>
                    <textarea n:name="message"></textarea>
                </label>
                <button class="submit btn md" n:name="send">
                    {$form['send']->getCaption()|translate}
                    <i class="far fa-paper-plane"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<!-- ============ Contact form - END ============ -->
{/define}

{block socialLinks}
    <ul class="social-links">
        <li n:ifset="$content->facebook">
            <a title="Facebook" href="{$content->facebook}" target="_blank">
                <i class="fab fa-facebook-square fa-lg"></i>
            </a>
        </li>
        <li n:ifset="$content->twitter">
            <a title="Twitter" href="{$content->twitter}" target="_blank">
                <i class="fab fa-twitter-square fa-lg"></i>
            </a>
        </li>
        <li n:ifset="$content->googleplus">
            <a title="Google+" href="{$content->googleplus}" target="_blank">
                <i class="fab fa-google-plus-square fa-lg"></i>
            </a>
        </li>
        <li n:ifset="$content->instagram">
            <a title="Instagram" href="{$content->instagram}" target="_blank">
                <i class="fab fa-instagram-square fa-lg"></i>
            </a>
        </li>
        <li n:ifset="$content->linkedin">
            <a title="LinkedIn" href="{$content->linkedin}" target="_blank">
                <i class="fab fa-linkedin fa-lg"></i>
            </a>
        </li>
    </ul>
{/block}

{block logo}
    {var $titleHeaderExploded = explode(' ', $content->titleHeader, 2)}
     <span>{$titleHeaderExploded[0]}</span>
     <span class="sc">{$titleHeaderExploded[1]}</span>
{/block}
