@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;600&display=swap');

$color-line: rgba(255,255,255,0.2);
$color-background: #5c5c5a;
$color-white: white;
$color-black: black;
$color-darker: #121212;
$color-dark: #242424;
$color-menu-active-background: #161616;

@mixin font-awesome-fix {
    font-family: 'Font Awesome\ 5 Free' !important;
    font-weight: 900 !important;
}

html {
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal !important;
    font-family: inherit !important;
}

.debug {
    color: red !important;
    font-weight: bold;
    padding: 5px;
    border: 1px solid red;
    background-color: #ffcccc;
}

#master-header {
    min-height: 1000px;
}

h1.logo, p.logo {
    span.sc {
        font-variant: small-caps;
    }
    font-family: Open Sans;
}
h1.logo {
    font-size: 40px;
    text-align: left !important;
}
p.logo {
    font-size: 20px;
}

h2, h2 i {
    color: $color-white;
}

#main {
    /*background-color: $color-background;*/
    background-color: $color-darker;
}

#categories {
    padding-top: 0;
    padding-bottom: 0;
}

#nav-menu {
    &.mobile {
        ul li.divider {
            display: none;
        }
   }

    * {
        text-decoration: none;
    }
    ul {
        li {
            a i {
                background-color: transparent;
            }
        }
        li.divider {
            width: 20px;
        }
        ul {
            a:before {
                @include font-awesome-fix;
                content: '\f101';
            }
            a.active:before, a:hover:before {
                color: $color-white;
            }
            a:hover, a.active {
                background-color: $color-menu-active-background;
                color: $color-white;
            }
            a.active {
                cursor: initial;
                pointer-events: none;
            }
        }
    }
}

@media only screen and (max-width : 992px) {
    #nav-menu {
        li.parent:after {
            @include font-awesome-fix;
            content: '';
        }
    }
}

.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact-form-section {
    background-color: $color-white;
    color: $color-dark;

    h2, h2 i {
        color: $color-dark;
    }
}

.section-title {
    border-top: none;
    border-bottom: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;

    h2 {
        font-size: 25px;
    }
}

.promo-slider {
    &.slick-slider {
        -webkit-user-select: text;
        -khtml-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }

    .slide {
        .image {
            /*background-color: $color-white;
            padding: 20px;*/
            /*box-shadow: 0 0 20px 20px $color-background inset;*/

            img {
                margin-left: auto;
                margin-right: auto;
                max-height: 500px;
            }
        }
        .desc {
            background-color: $color-dark;
            color: $color-white;
            text-align: justify;
            /*box-shadow: 0 0 10px 10px $color-background inset;*/
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;

            h3, p {
                color: $color-white;
                margin-bottom: 3px;
                margin-top: 3px;
            }
        }
    }

    .slick-next, .slick-prev {
        top: 45%;
    }

    .slick-prev {
        left: -45px;
    }

    .slick-next {

    }

    .slick-next:before, .slick-prev:before {
        font-size: 40px;
        line-height: 0;
    }

    .slick-dots {
        li {
            button:before {
                color: $color-white;
                font-size: 10px;
            }
        }
        bottom: -50px;
    }
}

.images-grid {
    .info-work {
        font-size: 120%;
        background-color: $color-dark;
        color: $color-white;
        border: none;
    }

    .work-thumb {
        a, a:hover {
            text-decoration: none;

            img {
                display: none;
            }
        }
        .thumb-links {
            a:before {
                @include font-awesome-fix;
            }
        }


    }
}

.cta .btn {
    margin-top: 5px;
}

.contact a {
    color: $color-white;
}

input[type="text"], input[type="email"], textarea {
    padding: 10px;
    width: 100%;
}

ul.social-links a {
    background-color: $color-dark;
}

.artist {
    img.profile {
        border: 5px solid $color-dark;
        max-height: 600px;
    }
    div {
        p, h4 {
            color: $color-white;
            margin-top: 5px;
            margin-bottom: 5px;

            strong {
                color: inherit !important;
            }
            a {
                color: inherit !important;
                font-weight: bolder;
                font-style: italic;
            }
        }

        ol, ul {
            margin-top: 10px;
            margin-bottom: 10px;
            li {
                color: $color-white;
            }
        }


        text-align: justify;
        background-color: $color-dark;
        padding: 20px;
        border-radius: 5px;
    }
}

.download-link {
    margin-left: 20px;
}

.download-link:before {
    content: '\f019';
}

.flash-message:before, .flash-message:after {
    @include font-awesome-fix;
}

/*.footer-contacts {
    background-color: transparent;
}

footer {
    background-color: $color-black !important;
}*/

