@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;600&display=swap");
html {
  font-family: "Titillium Web", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal !important;
  font-family: inherit !important;
}

.debug {
  color: red !important;
  font-weight: bold;
  padding: 5px;
  border: 1px solid red;
  background-color: #ffcccc;
}

#master-header {
  min-height: 1000px;
}

h1.logo, p.logo {
  font-family: Open Sans;
}
h1.logo span.sc, p.logo span.sc {
  font-variant: small-caps;
}

h1.logo {
  font-size: 40px;
  text-align: left !important;
}

p.logo {
  font-size: 20px;
}

h2, h2 i {
  color: white;
}

#main {
  /*background-color: $color-background;*/
  background-color: #121212;
}

#categories {
  padding-top: 0;
  padding-bottom: 0;
}

#nav-menu.mobile ul li.divider {
  display: none;
}
#nav-menu * {
  text-decoration: none;
}
#nav-menu ul li a i {
  background-color: transparent;
}
#nav-menu ul li.divider {
  width: 20px;
}
#nav-menu ul ul a:before {
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900 !important;
  content: "\f101";
}
#nav-menu ul ul a.active:before, #nav-menu ul ul a:hover:before {
  color: white;
}
#nav-menu ul ul a:hover, #nav-menu ul ul a.active {
  background-color: #161616;
  color: white;
}
#nav-menu ul ul a.active {
  cursor: initial;
  pointer-events: none;
}

@media only screen and (max-width: 992px) {
  #nav-menu li.parent:after {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
    content: "";
  }
}
.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact-form-section {
  background-color: white;
  color: #242424;
}
.contact-form-section h2, .contact-form-section h2 i {
  color: #242424;
}

.section-title {
  border-top: none;
  border-bottom: none;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0;
}
.section-title h2 {
  font-size: 25px;
}

.promo-slider.slick-slider {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.promo-slider .slide .image {
  /*background-color: $color-white;
  padding: 20px;*/
  /*box-shadow: 0 0 20px 20px $color-background inset;*/
}
.promo-slider .slide .image img {
  margin-left: auto;
  margin-right: auto;
  max-height: 500px;
}
.promo-slider .slide .desc {
  background-color: #242424;
  color: white;
  text-align: justify;
  /*box-shadow: 0 0 10px 10px $color-background inset;*/
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.promo-slider .slide .desc h3, .promo-slider .slide .desc p {
  color: white;
  margin-bottom: 3px;
  margin-top: 3px;
}
.promo-slider .slick-next, .promo-slider .slick-prev {
  top: 45%;
}
.promo-slider .slick-prev {
  left: -45px;
}
.promo-slider .slick-next:before, .promo-slider .slick-prev:before {
  font-size: 40px;
  line-height: 0;
}
.promo-slider .slick-dots {
  bottom: -50px;
}
.promo-slider .slick-dots li button:before {
  color: white;
  font-size: 10px;
}

.images-grid .info-work {
  font-size: 120%;
  background-color: #242424;
  color: white;
  border: none;
}
.images-grid .work-thumb a, .images-grid .work-thumb a:hover {
  text-decoration: none;
}
.images-grid .work-thumb a img, .images-grid .work-thumb a:hover img {
  display: none;
}
.images-grid .work-thumb .thumb-links a:before {
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900 !important;
}

.cta .btn {
  margin-top: 5px;
}

.contact a {
  color: white;
}

input[type=text], input[type=email], textarea {
  padding: 10px;
  width: 100%;
}

ul.social-links a {
  background-color: #242424;
}

.artist img.profile {
  border: 5px solid #242424;
  max-height: 600px;
}
.artist div {
  text-align: justify;
  background-color: #242424;
  padding: 20px;
  border-radius: 5px;
}
.artist div p, .artist div h4 {
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
.artist div p strong, .artist div h4 strong {
  color: inherit !important;
}
.artist div p a, .artist div h4 a {
  color: inherit !important;
  font-weight: bolder;
  font-style: italic;
}
.artist div ol, .artist div ul {
  margin-top: 10px;
  margin-bottom: 10px;
}
.artist div ol li, .artist div ul li {
  color: white;
}

.download-link {
  margin-left: 20px;
}

.download-link:before {
  content: "\f019";
}

.flash-message:before, .flash-message:after {
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900 !important;
}

/*.footer-contacts {
    background-color: transparent;
}

footer {
    background-color: $color-black !important;
}*/

/*# sourceMappingURL=style.css.map */
